! HiDPI
Xft.dpi: 216
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! URxvt
URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select
URxvt.url-select.launcher:  firefox
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search
! URxvt.font: xft:Monospace:pixelsize=13:antialias=true
URxvt.font: xft:Meslo LG M for Powerline:pixelsize=26:antialias=false

! rofi
rofi.dpi: 216
